[submodule "dependencies/llvmp"]
	path = dependencies/llvmp
	url = https://github.com/llvm/llvm-project.git
[submodule "dependencies/simdjson"]
	path = dependencies/simdjson
	url = https://github.com/simdjson/simdjson.git
